body {
    font-family: 'Gaegu', cursive;
    font-size: 16px;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 25px;
    margin: 40px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout {
    background: #fff;
}

.ant-btn-icon-only{
    width: 20px;
    height: 20px;
}

.ant-tree-node-content-wrapper{
    display: flex;
}

.ant-tag{
    width: 45px;
    text-align: center;
}
